.heroList {
    position: absolute;
    top: 10px;
    left: 10px;
}
.gameChat {
    position: absolute;
    top: 10px;
    left: 360px;
    width: 50%; 
    height: 50%; 
    border: 2px solid grey;
    overflow: auto;
}
.nextBattle {
    position: absolute;
    top: 60%;
    left: 80%;
}
.actionZone {
    position: absolute;
    top: 52%;
    left: 37%;
}
